.status-bars {
  padding-bottom: 25px;
}

.side-text {
  padding: 20px
}
h3.summary {
  font-size: 1.5rem;
}
p.user {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: Oswald;
  font-weight: 500;
  line-height: 1.2;
}
p.break-title {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: Oswald;
  font-weight: 500;
  line-height: 1.2;
}