.sale {
  color: orangered;
}

.sale s{
  color: #333;
}

p.style {
  font-weight: 700;
  text-transform: uppercase;
}
p.style span {
  font-weight: 300;
}
.style-select-main [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.style-select-main [type=radio] + img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 150px;
  padding: 10px;
}
.style-select-main [type=radio]:checked:before {
  content: '←';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #d21111;
  display: block;
}
.fec-size select, .fec-qty select {
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  border-color: #ccc;
  padding: 6px 10px;
  text-transform: uppercase;
  font-weight: 300;
}