.d-flex div{
  padding: 1rem;
  text-align: left;
}

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.item img {
  width: 200px;
  min-height: 300px;
  height:100%;
  object-fit: cover;
 }

.rec.rec-arrow {
  border-radius: 0;
  color: black;
  background-color: white;
  box-shadow: none;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-arrow-left:hover:enabled,
.rec.rec-arrow-right:hover:enabled{
    background-color: grey;
    box-shadow: 0 0 1px 3px var(white);
    border-radius: 50%
}

.rec.rec-dot_active {
  background: grey;
}

button.rec-dot{
  background-color:white;
  box-shadow: 0 0 1px 3px grey;
}

button.rec-dot:hover, button.rec-dot:active{
  background-color: grey;
  box-shadow: 0 0 1px 3px grey;
}

.table td {
  text-align: center;
  } 