img.logo {
  margin-left: 10px;
}
.navbar-brand {
  font-weight: 500;
  font-size: 1.15rem;
}
.search {
  margin-right: 10px;
}
.top-search-input {
  border-radius: 0;
}
button.menu-search {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
input.top-search-input {
  border-radius: 3px 0 0 3px;
}